.header {
    height: 64px;
    background-color: #D4AF37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 56px;
}

.main-content {
    padding: 80px 0;
    position: relative;
}

main h1 {
    text-align: center;
    margin-top: 0;
}

main p {
    margin-bottom: 0;
    text-align: center;
    margin: 0 56px;
}

.hero {
    background-image: url("./assets/img/hero-bg.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #D4AF37;
    color: white;
    height: 52px;
    padding: 0 64px;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.section-headers img {
    height: 100px
}

.dish {
    display: flex;
    align-items: center;
    padding: 16px;
    margin: 8px 64px;
    border-bottom: 1px solid #eee; 
    background-color: #F5F5DC;
    width: 80%;
    border-radius: 8px;
    position: relative;
    gap: 16px
}

.dish p {
    margin: 4px 0 0 0;
    color: #666;
    text-align: left;
}

.dish h3 {
    margin: 0; 
    color: #222;
}

.dish-img {
    height: 100px;
    border-radius: 50%;
}

.price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color: #333;
    font-weight: 600;
}

.main-footer {
    height: 64px;
    background-color: #D4AF37;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 56px;
    color: white;
    gap: 8px
}

.add-basket {
    width: 32px;
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
    margin: 16px;
    cursor: pointer;
}

.add-basket:hover {
    background: #D4AF37;
    border-radius: 50%;
}

.add-basket:active {
    background: #be9d30;
}

.dialog-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background: #be9d30;
    border-radius: 8px;
    height: 32px;
    color: white;
    border: #666 1px solid;
}

.open-dialog-button:hover {
    background: #D4AF37;
}

.basket-btn {
    height:12px;
    padding: 0 6px;
}

.amount-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 0;
    top: 70%;
    bottom: 90%;
}

.amount-controls button {
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.basket-dialog {
    width: 80vw;
    height: 80vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white; /* sonst sieht man evtl. durch */
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.4);
    z-index: 1000;
}

dialog::backdrop {
    background: rgba(0,0,0,0.5);
}

.basket-dialog h2 {
    justify-content: center;
    display: flex;
}

.basket-dialog footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    border-top: 1px solid #ddd;
}

.layout-dialog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 56px;
}

.basket-container {
    flex: 1;
    overflow-y: auto;
}